*, html{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    display: grid; 

}

/* main code */
main img {
    margin-left: 10px !important; 
}
main img {
    width: 100%;
  
}
/* subontent code  */
.subcontent {
    display: grid; 
    grid-gap: 5px;
    grid-template-areas: 
    "o o1"
    "o2 o3";
    
}
.o {
    grid-area: "o";
}
.o1{
    grid-area: "o1";
}
.o2{
    grid-area: "o2";
}
.o3{
    grid-area: "o3";
}
/* subfooter code  */
.subfooter {

    color: #fff; 
    background-color: rgba( 0, 0 ,0 ,0.7);
}

.subfooter   {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1 !important;
  
}

.subfooter  h4 {
    font-weight: bold;
    color: #00D1B2;
text-transform: uppercase;

}


.subfooter  a {
    color: #fff ;
}
/* footer code  */

footer {
    display: grid; 
    background-color: rgba( 0, 0 ,0 ,0.9);

    grid-template-areas: 
    "f1"
    "f2";
}
footer h5 {
    color: #fff;
}
footer span {
    background-color: #fff;
    border-radius: 50%;
}
footer a {
    color: #fff ;
}

.footer-social{
    grid-area: "f1"; 
}


