*, html{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    display: grid; 

    /* grid-template-areas: 
    "na na na na "
    "su su su na "  
    "q1 q2 q3 q4"
    "sb sb sb sb"
    "ft ft ft ft"; */

}

.subcontent {
    display: grid; 
    grid-template-areas: 
    "o o1 o2 o3 o4"; 

}
.o {
    grid-area: "o";
}