*, html{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    display: grid; 

}

.subcontent {
    display: grid; 
    grid-template-areas: 
    "o o1"
    "o2 o3";
}
.o {
    grid-area: "o";
}
.o1{
    grid-area: "o1";
}
.o2{
    grid-area: "o2";
}
.o3{
    grid-area: "o3";
}